*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}
body{
    min-width: 320px;
    max-width: 1800px;
}
.wrapper{
    margin: auto;
}
li{
    margin-left: 20px;
}
.img_box{
    background-image: url(/Assets/images/hero-1.jpg);
    margin-top: 0px;
}
.Eighty_container{
     width: 80%;
     margin: auto;
     padding: 0px;
}
header{
    width: 100%;
    padding-top: 30px;
}
#second_logo{
    display: none;
}
nav{
    margin: auto;
    height: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    height: 40px;
}
.header_list ul{
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-top: 0px !important;
}
.header_list a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
#nav_button{
    background-color: rgb(239, 103, 125);
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
}
#nav_button:hover{
    border: none;
    background: transparent;
    border: 1px solid white;
    transition: all 0.5s ease-in-out;
}
.hero_container{
    height: 1000px;
    width: 100%;
    background-image: url(Assets/images/hero-1.jpg);
}
.hero_wrapper{
    width: 100% !important;
    display: flex !important;
   
}
.written_content{
    width: 50%;
}
.written_content h2{
    color: white;
    font-size: 65px;
    padding-top: 200px;
}
.written_content p{
    color: white;
    font-size: 30px;
    padding-top: 80px;
}
.written_content button{
    width: 250px;
    height: 70px;
    font-size: 25px;
    margin-top: 100px;
    background-color: rgb(222, 63, 89);
    color: white;
    border: none;
    border-radius: 5px;
}
.written_content button:hover{
    background: transparent;
    border: 1px solid white;
   transition: all 0.5s ease-in-out;

} 
.written_content1{
    width: 50%;
}
.special_para{
    font-size: 20px !important;
}
.other_content{
    width: 50%;
    
}
.other_content img{
    height: 750px;
    margin-top: 50px;
}
.content-container h2{
    color: rgb(62, 60, 60);
    font-size: 65px;
    padding-top: 140px;
    text-align: center;
}
.content-container p{
    color: rgb(62, 60, 60);
     font-size: 25px;
     text-align: center;
     margin-top: 20px;
    
}
.fourboxes_container{
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
    display: flex;
}
.box_one{
    width: 25%;
}
.box_one h3{
    font-size: 25px;
    color: rgb(62, 60, 60);
    padding-top: 10px;
    padding-bottom: 10px;
}
.box_one p{
    color: rgb(62, 60, 60);
}
.boxone_child2{
    text-align: center;
    line-height: 1.5;
}
.written_content1{
    width: 50%;
    padding-top: 150px;
    line-height: 1; 
    color: rgb(62, 60, 60);   
}
.written_content1 .content1_child{
    padding-left: 50px;
}
.written_content1 h2{
   font-size: 55px;
   margin-top: 30px;
}
.written_content1 h3{
   font-size: 30px;
   color: rgb(62, 60, 60);
   margin-top: 30px;
}
.written_content1 p,ul{
    font-size: 20px;
    margin-top: 30px;
    line-height: 1.5;
    color: rgb(62, 60, 60);
}
.written_content1 ul li{
    margin-top: 20px;
}
.two_images{
    display: flex;
     height: 550px;
     gap: 20px;
     margin-top: 70px;
}
.two_images .first_img{
    background-image: url(/Assets/images/bg-02.jpg);
    border-radius: 20px;
    width: 50%;
    padding: 40px;
    text-align: center;
}
.two_images h3{
   font-size: 30px;
   margin-top: 40px;
   color: rgb(62, 60, 60);
}
.two_images p{
    font-size: 20px;
    line-height: 1.5;
    color: rgb(62, 60, 60);
    margin-bottom: 30px;
    margin-top: 20px;
}
.two_images .second_img{
    background-image: url(/Assets/images/bg-02.jpg);
    width: 50%;
}
.two_images img{
    height: 300px;
}
.two_images .second_img{
    background-image: url(/Assets/images/bg-02.jpg);
    border-radius: 20px;
    width: 50%;
    padding: 50px;
    text-align: center;
}
.lined_content{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.lined_child{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.gndi_img{
   height: 600px; 
   margin-top: 70px;
}
.extra_space{
    margin-left: 50px;
}
.lined_content h2{
    font-size: 55px;
    color: rgb(62, 60, 60);
}
.lined_content p{
    color: rgb(62, 60, 60);
    font-size: 20px;
}
.hero_wrapper #btn{
    margin-top: 50px;
    height: 50px ;
    width: 200px;
    border: none;
    background: none;
    border: 2px solid rgb(62, 60, 60);
    color: rgb(62, 60, 60);
    font-size: 15px;
    font-weight: 900;
    border-radius: 8px;
}
#btn:hover{
    color: white;
    background-color: rgb(222, 63, 89);
    border: none;
    transition: all 0.5s ease-in-out;
}
.other_content1{
    width: 50%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 100px;
    position: relative;
    z-index: 200;
    
}
.othercontent_child{
    height: 290px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 30px;
    padding-top: 20px;
    line-height: 1.5;
    background-color: white;

}
.othercontent_child h2{
    color: rgb(62, 60, 60);
    font-size: 25px;
    padding-bottom: 5px;
}
.othercontent_child p{
    color: rgb(62, 60, 60);
    font-size: 20px;
}
.hero_wrapper1{
    width: 100%;
    display: flex;
}
.othercontent_child2{
    content: "";
    background-image: url(/Assets/images/bg-02.jpg);
    height: 400px;
    width: 710px;
    z-index: -100;
    position: absolute;
    top: 130px;
    left: 70px;
}
.other_content2{
    width: 50%;
}
.other_content2 img{
    height: 500px;
    margin-top: 100px;

}
.bara_box{
    height: 1100px;
    background-image: url(/Assets/images/bg-04.jpg);
    margin-top: 100px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.barabox_img{
    width: 100%;
    
}
.barabox_img img{
   width: 100%;
   margin-top: 80px;

}
.vip_para{
    margin-top: 250px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
.smallimg_box{
    margin-top: 50px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}
.smallimg_box img{
    height: 120px;
}
.three_box{
    margin-top: 100px;
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
}
.three_child{
    width: 33%;
    
}
.img_div{
    height: 240px;
    background-color: rgb(237, 233, 230);
    padding: 40px;
    border-radius: 10px;
}
.img_div img{
    height: 200px;
}
.text_div{
    text-align: center;
    margin-top: 15px;
}
.text_div h2{
    color: rgb(62, 60, 60);
    font-size: 25px;
    padding-bottom: 5px;
}
.text_div p{
     color: rgb(62, 60, 60);
    font-size: 20px;
}
.one_img{
    text-align: center;
    margin-top: 80px;
}
.one_img button,.fourbrands_box button{
    font-size: 18px;
   font-weight: 600;  
    height: 50px;
    width: 250px;
    margin-top: 50px;
    background: none;
    border: none;
    color: rgb(62, 60, 60);
    border: 2px solid rgb(62, 60, 60);
    border-radius: 5px;

}
.fourbrands_box{
    height: 700px !important;
}
.btn_cont{
    display: flex;
    align-items: center;
    gap: 30px;

}
.one_img button:hover{
    background-color: rgb(222, 63, 89);
    color: white;
    border: none;
    transition: all 0.5s ease-in;
    
}
.fourbrands_box  button:hover{
    background-color: rgb(222, 63, 89);
    color: white;
    border: none;
    transition: all 0.5s ease-in;
    
}
.one_img p{
    color: rgb(62, 60, 60);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.gol_btn{
   margin-top: 25px;
   background-color: rgb(222, 63, 89);
   color: white;
   font-size: 20px;
   font-weight: 600;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   border: none;
   border: 2px solid rgb(222, 63, 89);
   display: flex;
   justify-content: center;
   align-items: center;
}
.para2{
    border-left: 1px solid rgb(155, 149, 149);
    margin-left: 25px;
    padding-left: 55px;
}
.para3{
     margin-left: 25px;
   padding-left: 55px; 
}
.gol_btn:hover{
    background-color: white;
    border: 2px solid rgb(222, 63, 89);
    color: rgb(222, 63, 89);
    transition: all 0.5s ease-in-out;
}
.anotherbara_box{
   background-image: url(/Assets/images/bg-04.jpg);
    width: 100%;
    margin-top: 50px;
    height: 900px;
    
}
.scrolling_box{
    margin-top: 80px;
    display: flex;
    gap: 20px;

}
.scrolling_box p{
    color: rgb(62, 60, 60);
    font-size: 20px;
}
.scrolling_child{
    width: 33%;
    height: 300px;
    background-color: white;
    box-shadow:  5px 10px 20px rgb(181, 179, 179);
    border-radius: 10px;
    padding: 40px;
    position: relative;
    z-index: 10;
}
.scrolling_child1{
    width: 33%;
    height: 350px;
    background-color: white;
    box-shadow:  5px 10px 20px rgb(181, 179, 179);
    border-radius: 10px;
    padding: 40px;
    position: relative;
    z-index: 10;
}
.quote_div{
    position: absolute;
    top: 20px;
    left: 30px;
    color: rgb(223, 215, 215);
    font-size: 40px;
    z-index: -10;
}
.round_box{
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.round_img img{
    border-radius: 50%;
    /* overflow: hidden; */
    height: 100px;
    width: 100px;

}
.round_text{
    margin-left: 15px;
}
.round_text p{
    color: rgb(155, 149, 149);
}
.stars_div{
    margin-top: 200px;
}
.star_box{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}
.star_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.star_child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.star_img img{
    height: 40px;
    
}
.stars{
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    width: 200px;
    height: 25px;
    border-radius: 500px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: px;
}
.fourbrands_box{
    background-image: url(/Assets/images/bg-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
    height: 850px;
    padding-left: 50px;
    padding-right: 50px;
}
.tool_box{
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 50px;
}
.tool_one{
    width: 20%;
}
.tool_child{
    background-color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.tool_child img{
    height: 80px;
}
.tool_one a{
    text-align: center;
    text-decoration: none;
    color: rgb(59, 57, 57);
    font-size: 20px;
    font-weight: 600;
}
.tool_heading{
    margin-top: 30px;
}
.special_button{
    display: flex;
    justify-content: center;
}
.other_written{
    width: 50%;
    margin-left: 20px;
   
}
.other_written p,ul{
    font-size: 20px;
    margin-top: 30px;
    line-height: 1.5;
    color: rgb(62, 60, 60);
}
.other_written h3{
   font-size: 30px;
   color: rgb(62, 60, 60);
   margin-top: 30px;
}
.other_written ul li{
    margin-top: 20px;
}
.hero_wrapper2{
     width: 100%;
    display: flex;
    margin-top: 30px;
}
.written_content2{
    width: 50%;
    line-height: 1; 
    color: rgb(62, 60, 60); 
}
.written_content2 p,ul{
    font-size: 20px;
    margin-top: 30px;
    line-height: 1.5;
    color: rgb(62, 60, 60);
}
.written_content2 h3{
   font-size: 30px;
   color: rgb(62, 60, 60);
   margin-top: 30px;
}
.written_content2 ul li{
    margin-top: 20px;
}
.get_touch{
    margin: auto;
    margin-top: 80px;
    border-radius: 30px;
    width: 450px;
    height: 60px;
    background-color: rgb(231, 224, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.get_touch p{
    font-size: 20px;
    color: rgb(62, 60, 60);
}
.get_touch a{
    color: rgb(222, 63, 89);
    font-weight: 600;
    font-size: 20px;
}
a:hover{
    color: rgb(228, 119, 137);
    transition: all0.5s ease-in-out;
}
.akhri_div{
    background-image: url(/Assets/images/bg-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 100px;
    height: 500px;
    border-radius: 20px;
}
.color_div h2,.color_div p{
    color: white;
}
.akhri_button{
    display: flex;
    justify-content: center;
}
.akhri_button button{
    margin: auto;
    font-size: 18px;
    font-weight: 600;  
    height: 50px;
    width: 250px;
    margin-top: 50px;
    background-color: rgb(222, 63, 89);
    border: none;
    color: white;
    border-radius: 5px;
}
.akhri_button button:hover{
    border: 2px solid white;
    background: transparent ;
    transition: all 0.5s ease-in-out;
}
.footer_container{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.footer_child{
    width: 20%;
}
.footer_child img{
    height: 40px;
}
.footer_child2{
    width: 20%;
}
.footer_child2 ul{
    list-style: none;
}
.footer_child2 a{
    text-decoration: none;
    color: rgb(120, 117, 117);
    margin-top: 10px;
}
.last_div{
     margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    color: rgb(120, 117, 117);
    justify-content: space-between;
}
footer p{
   
    font-size: 20px;
    color: rgb(120, 117, 117);
}
@media screen and (max-width:400px){
    .hero_wrapper{
        flex-direction: column;
        height: auto;
        justify-content: center;

    }
    
    .lined_child{
        width: 100% !important;
        flex-direction: column;
    }
    h2{
        font-size: 20px !important;
    }
    p{
        font-size: 15px !important;
    }
    .Eighty_container{
        width: 90%;
        max-width: 100%;
    }
    .written_content{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .written_content h2{
        font-size: 30px;
        padding-top: 50px;
    }
    #first_logo{
         display: none;  
     }
     .header_list{
        display: none;
     }
     .img_box{
        height: auto !important;
     }
     header{
        background-color: white;
        padding-top: 0px;
     }
     nav{
       justify-content: flex-start;
     }
     #second_logo{
        display: block;
        height: 30px;
     }
     .written_content p{
        font-size: 18px;
        padding-top: 10px;
     }
     .special_para{
        font-size: 16px !important;
     }
     .other_content{
       width: 100%;
       text-align: center;
     }
     .other_content img{
        height: 300px !important;
     }
     .content-container h2{
        font-size: 30px;
        padding-top: 30px;
     }
     .content-container p{
        font-size: 18px;
     }
     .fourboxes_container{
        flex-direction: column;
        margin-top: 20px;
         margin-bottom: 20px;
     }
     .box_one{
        width: 100% !important;
        
     }
     .box_one h3{
        font-size: 20px;
     }
     .box_one p{
        font-size: 15px;
     }
     li{
       margin-left: 10px !important; 
     }
     .written_content1{
        width: 100%;
        padding-left: 0px;
        padding-top: 0px;
     }
    .content1_child{
       padding-left: 0px !important;
       width: 100%;
    }
    .content1_child h2{
        font-size: 25px;
    }
    .written_content1 h2{
          font-size: 25px;
    }
     .written_content1 h3{
        font-size: 20px;
     }
     .written_content1 p,li{
        font-size: 15px;
     }
     .two_images{
        flex-direction: column;
     }
     .first_img,.second_img{
        width: 100% !important;
        padding: 10px !important;
     }
     .two_images img{
        height: 150px !important;
     }
     .second_img{
        width: 100% !important;
     }
     .lined_content{
        margin-top: 350px !important;
        flex-direction: column;
     }
    .other_content1{
        flex-direction: column;
        width: 100% !important;
        margin-left: 0px;
        
    }
    .othercontent_child{
        width: 100% !important;
        max-width: 100%;
        height: auto;
    } 
    .othercontent_child h2{
        font-size: 25px;
    }
    .othercontent_child p{
         font-size: 15px;
    }
    .othercontent_child2{
        display: none;
    }
    .hero_wrapper1{
        flex-direction: column;
    }
    .extra_space{
        margin-left: 0px;
    }
    .other_content2 img{
    height: 250px !important;
    margin-top: 50px;
    }
    .bara_box {
        height: 320px !important;
    }   
    .vip_para{
        font-size: 20px;
        margin-top: 0px;
    }
    hr{
        margin-top: 400px;
    }
    .smallimg_box{
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
    }
    .smallimg_box img{
        height: 80px;
    }
    .margin_box{
        margin-top: 50px;
    }
    .three_box{
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .three_child{
        width: 100%;
    }
    .three_child .img_div{
        display: flex;
        justify-content: center;
    }
    .three_child img{
        height: 170px;

    }
    #hor_line{
        margin-top: 0px;
    }
    .one_img img{
        height: 100px !important;
    }
    .scrolling_box {
        flex-direction: column;
    }
    .anotherbara_box{
        height: 1050px;
    }
    .scrolling_child,.scrolling_child1{
        width: 100%;
        padding: 20px;
        height: 250px;
    }
    .star_box{
        flex-direction: column;
        justify-content: center;
       
    }
    .star_img{
        text-align: center;
    }
    .star_img{
        flex-direction: column;
    }
    .tool_box{
        flex-direction: column;
    }
    .tool_child{
        width: 100%;
        height: 150px;
    }
    .tool_one{
        width: 100%;
    }
    .fourbrands_box{
        height: 1500px !important;
        margin-top: 50px;
        padding: 10px;
    }
    .hero_wrapper2{
        flex-direction: column;
    }
    .written_content2{
        width: 100%;
    }
    .other_written{
        width: 100%;
        margin-left: 0px;
    }
    .get_touch{
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .get_touch a{
        font-size: 15px;
    }
    .akhri_div{
        height: 250px;
    }
    .footer_container{
        flex-wrap: wrap;
    }
    .footer_child,.next_line2{
        width: 100%;
        margin-bottom: 20px;
        
    }
    .stars_div{
    margin-top: 50px;
    }
    .next_line{
        width: 50%;
         margin-bottom: 20px;
    }    
    
}
@media screen and (min-width:401px) and (max-width:750px){
    .hero_wrapper{
        flex-direction: column;
        height: auto;
        justify-content: center;
    }
    h2{
        font-size: 40px !important;
    }
    p{
        font-size: 20px !important;
    }
    .Eighty_container{
        width: 90%;
        max-width: 100%;
    }
    .written_content{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .written_content h2{
        font-size: 30px;
        padding-top: 50px;
    }
    #first_logo{
         display: none;  
     }
     .header_list{
        display: none;
     }
     .img_box{
        height: fit-content !important;
     }
     .content1_child{
        padding-left: 0px !important;
    }
     header{
        background-color: white;
        padding-top: 0px;
     }
     nav{
       justify-content: flex-start;
     }
     #second_logo{
        display: block;
        height: 30px;
     }
     .written_content p{
        font-size: 18px;
        padding-top: 10px;
     }
     .special_para{
        font-size: 16px !important;
     }
     .other_content{
       width: 100%;
       text-align: center;
     }
     .other_content img{
       height: 400px;
     }
     .content-container h2{
        font-size: 30px;
        padding-top: 30px;
     }
     .content-container p{
        font-size: 18px;
     }
     .fourboxes_container{
        flex-direction: column;
        margin-top: 20px;
         margin-bottom: 20px;
     }
     .box_one{
        width: 100%;
     }
     .box_one h3{
        font-size: 20px;
     }
     .box_one p{
        font-size: 15px;
     }
     li{
       margin-left: 10px !important; 
     }
     .written_content1{
        width: 100%;
        padding-left: 0px;
        padding-top: 0px;
     }
    .content1_child{
       padding-left: 0px !important;
    }
    .content1_child h2{
        font-size: 25px;
    }
    .written_content1 h2{
          font-size: 25px;
    }
     .written_content1 h3{
        font-size: 20px;
     }
     .written_content1 p,li{
        font-size: 15px;
     }
     .two_images{
        flex-direction: column;
     }
     .first_img,.second_img{
        width: 100% !important;
        padding: 10px !important;
     }
     .two_images img{
        height: 150px;
     }
     .second_img{
        width: 100% !important;
     }
     .lined_content{
        margin-top: 250px;
        flex-direction: column;
     }
    .other_content1{
        width: 100%;
        margin-left: 0px;
    }
    .othercontent_child{
        width: 100% !important;
        max-width: 100%;
        height: auto;
    } 
    .othercontent_child h2{
        font-size: 25px;
    }
    .othercontent_child p{
         font-size: 15px;
    }
    .othercontent_child2{
        display: none;
    }
    .hero_wrapper1{
        flex-direction: column;
    }
    .extra_space{
        margin-left: 0px;
    }
    .other_content2 img{
    height: 250px;
    margin-top: 50px;
    }
    .bara_box {
        height: 450px;
    }
    .barabox_img img{
        height: 200px;
    }
    .vip_para{
        font-size: 20px;
        margin-top: 10px;
    }
    hr{
        margin-top: 400px;
    }
    .smallimg_box{
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
    }
    .smallimg_box img{
        height: 80px;
    }
    .margin_box{
        margin-top: 50px;
    }
    .three_box{
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .three_child{
        width: 100%;
    }
    .three_child .img_div{
        display: flex;
        justify-content: center;
    }
    .three_child img{
        height: 170px;

    }
    #hor_line{
        margin-top: 0px;
    }
    .one_img img{
        height: 150px;
    }
    .scrolling_box {
        flex-direction: column;
    }
    .anotherbara_box{
        height: 1050px;
    }
    .scrolling_child,.scrolling_child1{
        width: 100%;
        padding: 20px;
        height: 250px;
    }
    .star_box{
        flex-direction: column;
        justify-content: center;
       
    }
    .star_child{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .star_img{
        text-align: center;
    }
    .star_img{
        flex-direction: column;
    }
    .tool_box{
        flex-direction: column;
    }
    .tool_child{
        width: 100%;
        height: 150px;
    }
    .tool_one{
        width: 100%;
    }
    .fourbrands_box{
        height: 1500px !important;
        width: 100%;
    }
    .hero_wrapper2{
        flex-direction: column;
    }
    .written_content2{
        width: 100%;
    }
    .other_written{
        width: 100%;
        margin-left: 0px;
    }
    .get_touch{
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .get_touch a{
        font-size: 15px;
    }
    .akhri_div{
        height: 300px;
    }
    .akhri_div p{
        font-size: 15px !important;
    }
    .lined_child{
        flex-direction: column;
    }
    .footer_container{
        flex-wrap: wrap;
    }
    .footer_child,.next_line2{
        width: 100%;
        margin-bottom: 20px;
        
    }
    .stars_div{
    margin-top: 50px;
    }
    .next_line{
        width: 50%;
         margin-bottom: 20px;
    }
    
}
@media screen and (min-width: 751px) and (max-width: 1200px) {
    .Eighty_container{
        max-width: 100%;
        width: 90%;
    }
    .content1_child{
        padding-left: 0px !important;
    }
     nav{
       justify-content: flex-start;
     }
     #second_logo{
        display: block;
        height: 30px;
     }
     .written_content p{
        font-size: 18px;
        padding-top: 10px;
     }
     .special_para{
        font-size: 16px !important;
     }
      #first_logo{
         display: none;  
     }
     .header_list{
        display: none;
     }
     .img_box{
        height: 600px;
     }
     header{
        background-color: white;
        padding-top: 0px;
     }
     nav{
       justify-content: flex-start;
     }
     #second_logo{
        display: block;
        height: 30px;
     }
     h2{
        font-size: 30px !important;
     }
     p,li{
        font-size: 15px !important;
     }
     .other_content img{
        height: 450px ;
        margin-top: 100px;
        overflow: hidden;
     }
     .fourboxes_container{
        flex-wrap: wrap;
     }
     .box_one{
        width: 50%;
     }
     .written_content1{
        padding-top: 20px;
     }
     .first_img,.second_img{
        padding: 15px !important;
        height: 450px;
     }
     .second_img img,.first_img img{
        height: 200px;
     }
     .lined_child{
        width: 33%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
     }
     .content1_child h3{
        font-size: 20px;
     }
     .othercontent_child{
        width: 230px;
        height: 180px;
        padding: 10px;
     }
     .othercontent_child h2{
        font-size: 20px !important;
     }
     .othercontent_child2{
        height: 250px;
        top: 70px;
        width: 470px;
     }
     .other_content2 img{
       height: 300px;
     }
     .bara_box{
        height: 750px;
     }
     .barabox_img img{
        height: 550px;
     }
     .smallimg_box img{
        height: 50px;
     }
     .img_div img{
        height: 100px;
        
     }
     .img_div{
        height: 120px;
        padding: 20px;
     }
     .one_img img{
        height: 260px;
     }
     .scrolling_child{
        padding: 10px;
        height: 230px;
     }
     .scrolling_child1{
         padding: 10px;
        height: 280px;
     }
     .anotherbara_box{
        height: 450px;
     }
     .star_box{
        gap: 20px;
     }
     .star_img img{
        height: 30px;
     }
     .para2,.para3{
        margin-top: 10px !important;
        margin-left: 15px;
        padding-left: 45px;
     }
     .gol_btn{
        height: 30px;
        width: 30px;
        border-radius: 100%;
        font-size: 15px;
     }
     .tool_child{
      height: 100px;        
     }
     .tool_heading{
        font-size: 18px;
     }
     .tool_child img{
        height: 30px;
     }
     .written_content2 h3{
        font-size: 20px;
     }
     .other_written h3{
         font-size: 20px;
     }
     .footer_child img{
        height: 30px;
     }
     footer h3{
        font-size: 18px;
     }
     
 }
